.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Oxygen', sans-serif;
}


/*geo*/

.geo__title {
	font-size: 25px;
	margin-bottom: 20px;
	font-weight: 700;
	color: blueviolet;
}

.geo__input {
	width: 300px;
	border-radius: 13px;
	border: 1px solid grey;
	height: 40px;
	padding: 20px;
	margin-top: 20px;
}

/* widget */
.widget {
	margin-top: 50px;
}

.widget__title {
	font-size: 25px;
	margin-bottom: 20px;
	font-weight: 700;
	color: blueviolet;
}

.widget__box{
	margin: 0 auto;
	margin-top: 20px;
	width: 700px;
	height: 400px;
	overflow: scroll;

}
.widget__box li{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
}

.widget__image {
	width: 400px;
	height: 300px;
}

.widget__item{
	display: flex;
	align-items: center;
	justify-content: center;
}